version: "3.8"

services:
  app:
    image: mcr.microsoft.com/devcontainers/typescript-node:20
    volumes:
      - ..:/workspaces/codespaces-wordpress-faust_2:cached
    command: sleep infinity
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_WORDPRESS_URL=${NEXT_PUBLIC_WORDPRESS_URL}
      - NEXT_PUBLIC_SITE_URL=${NEXT_PUBLIC_SITE_URL}
    depends_on:
      - wordpress
    networks:
      - default

  wordpress:
    image: wordpress:6-apache
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DEBUG: 0
      WORDPRESS_CONFIG_EXTRA: |
        /* Forzare gli URL solo se definiti nelle variabili d'ambiente */
        if (getenv('WORDPRESS_URL')) {
          define('WP_HOME', getenv('WORDPRESS_URL'));
          define('WP_SITEURL', getenv('WORDPRESS_URL'));
        }
        define('FORCE_SSL_ADMIN', false);
        define('AUTOMATIC_UPDATER_DISABLED', true);
      WORDPRESS_URL: ${WORDPRESS_URL:-http://localhost:8080}
    volumes:
      - ../wordpress:/var/www/html:cached
    depends_on:
      - db
    networks:
      - default

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - default

  phpmyadmin:
    image: phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: wordpress
      PMA_PASSWORD: wordpress
    networks:
      - default

networks:
  default:

volumes:
  db:

